*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/background-crew-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    padding: 2rem 2rem;
    color: #ffffffb6;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 2.7px;
    margin-bottom: 5rem;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.card{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    color: #ffffffb6;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.card__img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    width: 50%;
}

.card__img img{
    width: 100%;
}

.card__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 2rem;
    color: #ffffffb6;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0;
    width: 50%;
}

h3{
    color: #ffffffb6;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 2rem;
}

h1{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 2rem;
    width: 100%;
}


.bollets{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 0  3rem 0;
}

.bollets div{
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #ffffffb6;
    border-radius: 50%;
    margin: 0 1rem;
    cursor: pointer;
}

.bollets div:hover{
    background-color: #ffffffb6;
}

.bollets div.new-bollet{
    background-color: #ffffffb6;
}









@media screen and (max-width: 600px) {
    body{
        background-image: url(../img/background-crew-mobile.jpg);
    }

    main .card{
        flex-direction: column;
    }
}


@media  (min-width: 601px) and (max-width: 1024px) {
    body{
        background-image: url(../img/background-crew-tablet.jpg);
    }
    
}