*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/background-technology-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container{
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    color:white;
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 20px auto;
}

header .box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

header .box .number {
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;  
    color: white;
    font-size: 18px;
}

header .box .number span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
}

header .box .number span:hover{
    background-color: white;
    color: black;
}

.active-num {
    background-color: white;
    color: black;
}


header .box .content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: start;
    align-items: start;
}

header .box .img {
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

h3{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d0d6f977;
}

h1{
    font-weight: 700;
    font-size: 56px;
    color: white;
}

p{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #d0d6f97b;
}


@media screen and (max-width: 600px) {
    body{
        background-image: url(../img/background-technology-mobile.jpg);
    }
 
    header .box {
        flex-direction: column;
    }

    header .box .number {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 50px;
    }

    header .box .content {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    header .box .img {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    body{
        background-image: url(../img/background-technology-tablet.jpg);
    }

    header {
        display: flex;
        flex-direction: column;
    }

    header .box {
        flex-direction: column;
    }

    header .box .number {
        width: 50%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 50px;
    }

    header .box .content {
        width: 50%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    header .box .img {
        width: 100%;
        justify-content: center;
        align-items: center;
    }


}